---
interface Props {
  content: any;
}

const { content } = Astro.props;
const { externalLink } = content;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/blog/' title='Back to blog'>&larr; Back to projects</a>
  <h1>{content.title}</h1>
  <p class='text-slate text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  {externalLink && (
    <p class='text-slate text-sm md:text-base'>
      <strong>Link:</strong> <a href={externalLink} target="_blank" rel="noopener noreferrer">{externalLink}</a>
    </p>
  )}
  <p class='text-slate'>Written by {content.author}</p>
  <a href='/blog/' title='Back to blog'>&larr; Back to projects</a>
</article>
